.section {
  &.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: $footer-color;
  }
}

.footer {
  &.flex {
    display: flex;
    align-items: baseline;
  }
}

.address {
  margin-top: 20px;
}
