.benefits-section {
  &__title {
    color: $title-text-color;
    font-weight: 700;
    font-size: inherit;
    line-height: 1.14;
    text-transform: uppercase;

    margin-bottom: 10px;
  }
  /* Класс скрывает семантический заголовок*/
  &__title.never {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  /*Задает размер поля для текста в Наши преимущества*/
  &__list .benefits-section__item {
    width: 270px;
  }
  /*Задает расположение на раздел Наши преимущества*/
  &__list {
    display: flex;
  }
  &__list .benefits-section__item + .benefits-section__item {
    margin-left: 30px;
  }
  /*Иконки в наших приемуществах*/
  &__icon {
    background-color: $second-white-color;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
  }
}
