.benefits-section {
    @media screen and (max-width:1199px) {
      padding-top: 60px;
    padding-bottom: 60px; 
    }
  &__title {
    color: $title-text-color;
    font-weight: 700;
    font-size: inherit;
    line-height: 1.14;
    text-transform: uppercase;

    margin-bottom: 10px;
    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }
  /* Класс скрывает семантический заголовок*/
  &__title.never {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  &__list {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }
  }

  &__icon {
    background-color: $second-white-color;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
  }
  &__item {
    @media screen and (max-width: 767px) {
      width: 100%;
    }
    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 4 * 15px)/2);
      margin: 15px;
    }
    @media screen and (min-width: 1200px){
      flex-basis: calc((100% - 8 * 15px)/4);
      margin: 15px;
    }
      
    }
  }

