.section {
    &.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: $hero-color;
  max-width: 480px;
  height: 400px;
  
  @media screen and (min-width: 768px) {
      max-width: 768px;
      height: 400px;
  }

  @media screen and (min-width: 1200px) {
      max-width: 1600px;
      height: 600px;
      padding-top: 200px;
      padding-bottom: 200px;
  }
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, $gradient, $gradient),
    url("../images/webstudio/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}
}
.hero {
    &-title {
  margin-bottom: 30px;

  color: $white-color;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
    }
}