.section {
    &.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: $hero-color;
  max-width: 480px;
  height: 400px;
  
  @media screen and (min-width: 768px) {
      max-width: 768px;
      height: 400px;
      background-image: linear-gradient(to right, $gradient, $gradient),
      url("../images/webstudio/hero/768/Header768.jpg");
  }

  @media screen and (min-width: 1200px) {
      max-width: 1600px;
      height: 600px;
      padding-top: 200px;
      padding-bottom: 200px;
      background-image: linear-gradient(to right, $gradient, $gradient),
      url("../images/webstudio/hero/1200/Header1200.jpg");
  }
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, $gradient, $gradient),
       url("../images/webstudio/hero/480/Header480.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}
}

@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
  .section.hero {
    background-image:linear-gradient(to right, $gradient, $gradient),
    url("../images/webstudio/hero/480/Header480@2x.jpg");

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      background-image: linear-gradient(to right, $gradient, $gradient),
      url("../images/webstudio/hero/768/Header768@2x.jpg")
    }

    @media screen and (min-width: 1200px) {
      background-image: linear-gradient(to right, $gradient, $gradient),
      url("../images/webstudio/hero/1200/Header1200@2x.jpg")
    }
  }
}
.hero {
    &-title {
  margin-bottom: 30px;

  color: $white-color;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
    }
}