.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    background-color: $white-color;
    z-index: 999;

    transform: translateX(100%);
    transition: $transition-timing ease-in-out;

    @media screen and (min-width:767px) {
    display: none;
    }

}

.menu-container.is-open {
    transform: translateX(0);
}

.menu{
    &-toggle { 
    @media screen and (min-width:767px) {
    display: none;
    }
    //width: 40px;
    //height: 40px;
    border: none;
    background:$white-color;

    margin-left: auto;}
    
    &-toggle:hover,
    &-toggle:focus {
        color: $accent-color;
        fill: currentColor;
    } 
    &-toggle .icon-cross {
        display: none;
    }
    &-toggle.is-open .icon-cross {
        display: block;
    }
    &-toggle.is-open .icon-menu {
        display: none;
        }
    &-toggle.js-close-menu {
        position: absolute;
        top:21px;
        right: 25px;
    }
}