.conteiner {
    &-team {
  padding-top: 30px;
  padding-bottom: 24px;
  background-color: $white-color;

  @media screen and (min-width: 1200px) {
      padding-bottom: 30px;
    }   
  }
    }
.section {
    &.team {
  background-color: $second-white-color;
  @media screen and (max-width:1199px) {
    padding-top: 60px;
    padding-bottom: 60px; }
}
}
.text {
    &-team {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;}
}

.title {
    &.team {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }}
   &.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
  text-align: center;
}
}
/*Задает расположение на раздел Наша команда*/
.list {
    &.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin:-15px;}
}
/*Рамка для карточек Нашей команды*/
.item {
    &.team{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    width: 100%;
    margin: 15px;

    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 4 * 15px)/2);
      margin: 15px;
    }
    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 9 * 15px)/4);
      margin: 15px;
    }}

}

.item.team {
  & .image {
    max-width: 100%;
  }
}
/*=======================
Иконки соц сетей в нашей команде
=================================*/
.social {
  &-list {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 16px;
    list-style: none;
    padding: 0;
  }
  &-item:not(:last-child) {
    margin-right: 10px;
  }
  &.link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;
    border-radius: 50%;

    color: $grey-color;
    background-color: $white-color;

    transition: background-color $transition-timing $timing-function,
      color $transition-timing $timing-function;
  }
  &.link:hover,
  &.link:focus {
    color: $white-color;
    background-color: $accent-color;
  }
  &-icon {
    fill: currentColor;
  }
}
