body {
  color: $primary-text-color;
  font-family: $primary-font-family;
  background-color: $white-color;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

container {
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;

  // mobile screen from 480px
  @media screen and (min-width: 480px) {
    width: 448px;
  }

  @include mq(mobile) {
    width: 448px;
  }
  // tablet screen
  // @media screen and (min-width: 768px) {
  //   width: 720px;
  // }

  @include mq(tablet) {
    width: 720px;
  }
  // desktop screen
  // @media screen and (min-width: 1280px) {
  //   width: 1200px;
  // }

  @include mq(desktop) {
    width: 1200px;
  }
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.image {
  display: block;
}

.title {
  color: $title-text-color;
  font-weight: 700;
  font-size: inherit;
  line-height: 1.14;
}
/* Класс убирает точки в начале списка*/
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* Убирает подчеркивание у ссылок*/
.link {
  text-decoration: none;
}
