//background
$work-thumb-background: rgba(47, 48, 58, 0.8);
$footer-color: #2f303a;
$hero-color: #2f303a;
$card-overlay-color: rgba(33, 150, 243, 0.9);
$backdrop-color: rgba(0, 0, 0, 0.2);
// text

$primary-text-color: #757575;
$title-text-color: #212121;
// fonts

$primary-font-family:'Roboto', sans-serif;
$logo-font-family: 'Raleway', sans-serif;

// color
$white-color: #ffffff;
$second-white-color: #f5f4fa;
$accent-color: #2196f3;
$gradient: rgba(47, 48, 58, 0.4);

$button-primary-hover-color: #188ce8;
$button-closed-border-color: rgba(0, 0, 0, 0.1);
$button-submit-shadow-color: rgba(0, 0, 0, 0.15);

$contacts-sup-color: rgba(255, 255, 255, 0.6);
$social-link-footer-color: rgba(255, 255, 255, 0.1);

$header-border-color: #eeeeee;
$form-input-border-color: rgba(33, 33, 33, 0.2);

$grey-color: #afb1b8;

$border-input-color: rgba(255, 255, 255, 0.3);
$shadow-input-color: rgba(0, 0, 0, 0.15);
$footer-input-placeholder-color: rgba(255, 255, 255, 0.6);

$textarea-placeholder-color: rgba(117, 117, 117, 0.5);

// transition
$transition-timing: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);